// tips: 菜单栏样式
.nav {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
}

// tips: 菜单栏中每个按钮都会用 wrap 包一下
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  height: 100%;
  padding: 3px 5px 0 5px;

  &:hover {
    background: rgba(16, 26, 51, 0.1);
    border-radius: 2px;
  }

  // tips: 按钮的文字样式
  &>span {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // tips: 按钮的图片样式
  &>img {
    width: 22px !important;
    height: 22px !important;
  }
}